*{
    padding: 0%;
    margin: 0%;
}

body{
    background-image: radial-gradient(circle at 50% -20.71%, #ffffff 0, #ffffff 12.5%, #ffffff 25%, #ffffff 37.5%, #ffffff 50%, #fcf6f8 62.5%, #f9edf2 75%, #f6e5ee 87.5%, #f2deeb 100%);
}

header{
    background-color: rgb(0, 0, 0);
    padding: 20px;
}

h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.titulo{
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

header p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 10px;
}

nav ul{
    background-color: #C0392B;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: center;
    list-style-type: none;
}

nav li{
    display: inline-flex;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 15px;
    width: 150px;

}

nav li:hover{
    background-color: #ce574a;
}

section{
    margin-top: 50px;
}

section h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.formulario{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 40px;
}

.inputBox{
    font-family: 'Poppins', sans-serif;
    padding: 3%;
}

input{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


button{
    padding: 2%;
    font-family: 'Poppins', sans-serif;
    color: white;
    border: none;
    background-color: #C0392B;
    cursor: pointer;
    margin: 30px;

}


.buttonBox :hover{
    background-color: #ce574a;
}


.areaTriangulo h2{
    padding: 3%;
}